/* Estilo para o formulário de contato */
form {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 1rem;
}

.form-label {
    font-weight: bold;
}

.btn-dark {
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.btn-dark:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}
