/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Definição de variáveis globais */
:root {
    --white: #f8f9fa;
    --black: #000000;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --transition-duration: 1s;
}

/* Importação das fontes Franie */
@font-face {
    font-family: 'Franie';
    src: url('fonts/Franie-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estilos globais */
html{
    height: 100%;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Franie', sans-serif;
    margin: 1rem;
    padding-top: 3rem;
    line-height: 1.6;
    height: 100%;
}

.title-banner {
    font-size: 3rem;
}

.text-banner {
    font-size: 1.2rem;
    margin: 1rem 0 2rem 0;
}

.btn-banner {
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1rem;
}

.btn-banner:hover {
    background-color: var(--white);
    color: red;
}

/* Navegação */
.navbar {
    background-color: var(--white);
}

.navbar-brand img {
    height: 40px;
}

.navbar-brand,
.nav-link {
    color: var(--black) !important;
}

.nav-link:hover {
    color: var(--success-color) !important;
}

/* Jumbotron */
.jumbotron {
    background-color: #007bff; /* Cor inicial de fallback */
    color: var(--white);
    padding: 4rem 2rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
    background-size: cover;
    background-position: center;
    transition: background-image var(--transition-duration) ease-in-out; /* Transição suave para a mudança de imagem */
}

.jumbotron .display-4 {
    font-size: 3rem;
    font-weight: bold;
}

.jumbotron .btn {
    margin-top: 1rem;
}

/* Grid Layout "oi" */
.oi {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 1rem;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 20rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-image 0.5s ease-in-out;
}

/* Imagens individuais para cada projeto */
.oi-project1 {
    background-image: url('./IMG/mat.png');
}

.oi-project2 {
    background-image: url('./IMG/floki.png');
}

.oi-project3 {
    background-image: url('./IMG/asap.png');
}

.oi-project4 {
    background-image: url('./IMG/asap.png');
}

.oi-project5 {
    background-image: url('./IMG/floki.png');
}

.oi-project6 {
    background-image: url('./IMG/mat.png');
}

.oi-project7 {
    background-image: url('./IMG/mat.png');
}

.oi-project8 {
    background-image: url('./IMG/mat.png');
}

.oi-project9 {
    background-image: url('./IMG/asap.png');
}

/* Efeito hover para alterar a imagem de fundo */
.oi:hover {
    opacity: 0.8; /* Opacidade reduzida para efeito de destaque */
}

/* Exemplos para imagens hover, altere para suas imagens desejadas */
.oi-project1:hover {
    background-image: url('./IMG/mathias.png'); /* Imagem de fundo ao passar o mouse */
}

.oi-project2:hover {
    background-image: url('./IMG/floki-hover.png'); /* Imagem de fundo ao passar o mouse */
}

.oi-project3:hover {
    background-image: url('./IMG/asap-hover.png'); /* Imagem de fundo ao passar o mouse */
}

.oi-project4:hover {
    background-image: url('./IMG/asap-hover.png'); /* Imagem de fundo ao passar o mouse */
}

.oi-project5:hover {
    background-image: url('./IMG/floki-hover.png'); /* Imagem de fundo ao passar o mouse */
}

.oi-project6:hover {
    background-image: url('./IMG/mat-hover.png'); /* Imagem de fundo ao passar o mouse */
}

.oi-project7:hover {
    background-image: url('./IMG/mat-hover.png'); /* Imagem de fundo ao passar o mouse */
}

.oi-project8:hover {
    background-image: url('./IMG/mat-hover.png'); /* Imagem de fundo ao passar o mouse */
}

.oi-project9:hover {
    background-image: url('./IMG/asap-hover.png'); /* Imagem de fundo ao passar o mouse */
}

.footer-insta, .footer-behance, .footer-zap{
    color: var(--black);
}

/* Estilo para os botões de cor */
.color-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.color-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.color-button:hover {
    transform: scale(1.1);
}

/* Cores dos botões */
.color-button:nth-child(1) {
    background-color: #ff0000; /* Vermelho */
}

.color-button:nth-child(2) {
    background-color: #ffff00; /* Amarelo */
}

.color-button:nth-child(3) {
    background-color: #0000ff; /* Azul */
}
